<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <script src="js/lib/litteraturbanken.js"></script>
  <script src="js/lib/axios.min.js"></script>
  <script src="js/lib/vue.js"></script>
  <script src="cordova.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/bulma.min.css">
  <style>
    body{
      background-color: #7A1400;
      font-family: "Requiem Display A", "Requiem Display B", georgia, serif;
    }
    #logo {
      min-height: 80px;
      width: 90px;
      background: url(logo.svg) no-repeat;
      background-size: cover;
      margin: auto;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
    .book{
      margin: auto;
      margin-bottom: 0.50em;
      width: 95%;

    }
    .search{
      width: 90%;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .search input,
    .search .button {
      border: 1px solid #777676;
    }
    .search .button {
      background: #E7DF9A;
      color: #7A1400;
    }
    .card-header {
      background-color: #E7DF9A !important;
      color: #4A4A4A;
    }
    .card-header a {
      color: #7A1400;
    }
    .card-header-title .fa-book {
      margin-right: 0.5em;
    }

  </style>
  <title>Litteraturbanken</title>
</head>

<body>

  <div id="app">

    <div class="card">
      <div class="card-content">
        <div v-if="loading">
          Laddar...
        </div>
        <a href="https://litteraturbanken.se/txt/epub/SoderbergH_DoktorGlas.epub">TEST</a>
        <a href="#" onclick="window.open('https://litteraturbanken.se/txt/epub/SoderbergH_DoktorGlas.epub', '_system');">TEST2</a>
        <a href="#" onclick="cordova.InAppBrowser.open('https://litteraturbanken.se/txt/epub/SoderbergH_DoktorGlas.epub', '_blank')">TEST3</a>
        <a href="#" onclick="download('https://litteraturbanken.se/txt/epub/SoderbergH_DoktorGlas.epub');">TEST4</a>
        <a href="#" onclick="window.open('https://www.google.com/', '_system', 'location=yes');">Google</a>
      </div>
    </div> 
    <div id="logo"></div>
    <div class="container search">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input is-fullwidth" type="text" placeholder="Sök bok" @keyup="getBooks()" v-model="filter">
        </div>
        <div class="control">
          <a class="button">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
    </div> 

    <div class="book card" v-for="book in books">
      
      <header class="card-header">
          <!--<button class="btn btn-primary s-circle float-right">📗</button>-->
        <p class="card-header-title"><i class="fas fa-book"></i>{{ book.shorttitle || book.title }}</p>
        <span class="right">
          <a :href="getDownloadUrl(book)" class="card-footer-item epub" @click="cordova.InAppBrowser.open('https://litteraturbanken.se/txt/epub/SoderbergH_DoktorGlas.epub', '_system');return false;" title="Ladda ner ePub-fil" alt="Ladda ner ePub-fil">
            <i class="fas fa-file-download"></i>
          </a>
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <span v-if="book.authors.length > 0">{{ book.authors[0].full_name }}</span>
        </div>
      </div>

    </div>
    
  </div>
  <script src="js/app.js"></script>
</body>

</html>